body{
    background-color: rgb(39, 39, 39);
}
#wind-wrapper{
    flex-direction: row;
    display: flex;
    align-items: center;
}
#arrow{
    height: calc(1.3rem + 0.6vw);
    width: auto;
    transform: rotate(0deg);
    padding-left: 10px;
    visibility: hidden;
}