#page-container{
    padding:15px;
}
#header-container{
    padding:15px;
}
#forecast-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.forecast-card{
    width: 10rem;
    margin: 3px;
}